<body>
    <main class="mainproductos">
       

 <header class="cabecera">
                <div class="logo">
                    <img src="./img/Logo 93x79.png" alt="logo banner web">
                </div>
            <nav class="navegacion">
                <a href="/" class="link">Inicio</a>
                <a href="/productos" class="link">Producto</a>
                <a href="/nosotros" class="link">Nosotros</a>
                <a href="/contacto" class="link">Contacto</a>
               
                <a href="/iniciarsecion" class="link">Configuración</a>
                </nav>
                </header>
                





<div class="containertituloproducto text-center m-5">
    
    <h1>
      
        {{ titulo }}, precios y ofertas 
    </h1>
    




  <div class="album py-5 bg-light">
    <div class="container1">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="img" src="https://i.revistapym.com.co/old/2016/10/las-comidas-rapidas-1.png"  alt="...">

            <div class="card-body">
              <p class="card-text">Hamburguesa Completa con papas fritas <br>
                Precio $500  </p>
              <div class="d-flex justify-content-between align-content-stretch">
                <div class="btn-group">
                    <button    type="button" class="btn btn-sm btn-outline-danger"  ><a class="apedido" href="/pedidouno">N°1 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 20 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="img" src="https://img-global.cpcdn.com/recipes/36af72513dc7fecf/680x482cq70/otra-de-mis-comidas-rapidas-higado-verduras-y-huevo-foto-principal.jpg" alt=""> 
            <div class="card-body">
              
              <p class="card-text">Higado con verduras y huevo <br>
              Precio: $750</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidodos"> N°2 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 15 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img class="img" src="https://www.latiendafavorita.com/wp-content/uploads/2020/06/food-4188662_640.jpg" alt="" alt=""> 

            <div class="card-body">
              <p class="card-text">Taco Bell: Burrito de pollo fresco supreme <br>
              Precio: $550</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidotres"> N°3 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 20 minutos</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img class="img" src="https://cdn-3.expansion.mx/dims4/default/3874777/2147483647/strip/true/crop/630x500+0+0/resize/1200x952!/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Fgex.lifeandstyle%2Fuploads%2Fasset%2Fasset_file%2F11038%2Fsandiwch-carru.jpg" alt="" alt="">

            <div class="card-body">
              <p class="card-text">Sándwich completo de Jamon y Queso <br>
              Precio: $500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidocuatro"> N°4 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 30 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img" src="https://eldinero.com.do/wp-content/uploads/pizza-rd.jpg" alt="...">

            <div class="card-body">
              <p class="card-text">Pizza completa <br>
              Precio: $1200</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidocinco"> N°5 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 20 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="img"  src="https://cdn2.cocinadelirante.com/sites/default/files/images/2017/04/comidarapida.jpg" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text">Combo Hamburguesa gaseosa y papas  <br>
              Precio: $1800</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidoseis"> N°6 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 30 minutos</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="img" src="https://www.cocinacaserayfacil.net/wp-content/uploads/2020/04/Recetas-de-comidas-para-ni%C3%B1os.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Fideos con Salsa <br>
              Precio: $550</p>
              <div class="d-flex justify-content-between align-items-center-stretch">
                <div class="btn-group">
                 
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidosiete"> N°7 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 30 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="img" src="https://celiaco.com/wp-content/uploads/2018/04/pan-panchos.jpg" alt="">

            <div class="card-body">
              <p class="card-text">Panchos completos <br>
              Precio: $500</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidoocho"> N°8 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 30 minutos</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="img" src="https://images.unsplash.com/photo-1426869981800-95ebf51ce900?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbWlkYSUyMHJhcGlkYXxlbnwwfHwwfHw%3D&w=1000&q=80" alt=""> 
            <div class="card-body">
              <p class="card-text">Alitas de pollo frito x 4 U.<br>
              Precio: $800</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-danger"><a  class="apedido" href="/pedidonueve"> N°9 ORDENA YA!</a> </button>
                </div>
                <small class="text-muted">Listo en 15 min</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        </div>  

        </body>

        </main>
<div class="pedido">
        <h2 id="seleccion">Su pedido : </h2>
</div>

                

<table class="table table-striped container" id="mitabla">
  <thead>
    <tr>
      <th scope="col"></th> 
      <th scope="col">Posicion</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
 {{!-- Hago un bucle de HBS --}}
 
  <tbody>
    
    {{#each datos}}
    <tr>
      <th scope="row">{{ idProducto }}</th>
      
      <td>{{ Posicion }}</td>
      <td>{{ nombre }}</td>
      <td>{{ descripcion }}</td>
      <td>{{ precio }}</td>
    
    </tr>
   {{/each}}
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


 {{!-- Usamos jquery para funciones mas sencillas --}}


  
  <div class="pedidoboton">
  <button class="pedido2" >   <a class="apedido2" href="/pedidolisto">ORDENAR</a>  </button>
</div>

